/* ХЕДЕР */
.HeaderStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: rgba(96, 122, 255, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.mini-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 19px;
    text-align: center;
    margin: 0 12px;
}
.user-avatar{
    width: 65px; 
    height: 65px;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
}
.Header-Button {
    color: rgb(3, 3, 3); 
    display: flex;
    flex-direction: row;
}

.Header-Navigacion{
    color: black;
}
.sidebar{
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: -280px;
    transition: right 0.3s ease; 
    background-color: rgba(85, 109, 230, 1);
}
.sidebar.show {
    right: 0px; 
}
.menu{
    background-color: white;
    width: 235px;
    border-radius: 10px;
}
.close-button{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.close-button:hover{
    background-color: #d6d6d6;
} 
/* ЛОГИН */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    border-radius: 10px;
}

.input-container {
    margin-bottom: 10px;
}
.register-link-container {
    margin-top: 10px;
}

.register-link {
    text-decoration: none;
    color: #d14fa6;
}

.register-link:hover {
    text-decoration: underline;
}
.americaya {
    position: absolute;
    top: 500;
    margin-top: -500px;
    color: #a04f85;
  }
/* РЕГИСТРАЦИЯ */

/* ГЛАВНАЯ */
.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}
.section{
    width: 100%;
    display: flex;
}
.actual-tests-section{
    display: flex;
    flex-direction: column;
}
.statistic{
    width: 450px;
    height: 210px;
    background-color: rgba(244, 167, 18, 0.29);
    border-radius: 10px;
}
.main-section{
    position:relative ;
    width: 100%;
    margin: 30px 0;
}
.test-card{
    width: 300px;
    height: 270px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(85, 109, 230, 1);
}
.tests-map{
    display: flex;
    gap: 70px;
}
.cover-img{
    height: 60%;
}
/* ПРОФИЛЬ */

/* СОЗДАНИЕ ТЕСТА */
.test-make{
    display: flex;
    flex-wrap: wrap;
    width: 422px;
    padding: 50px;
    background-color: white;
}



/* ОБЩЕЕ */
.background{
   color: #bb68b0;
   font-size: medium;
   font-family: Arial, sans-serif;
}
ul{
    display:grid;
    gap: 15px;
}
li{
   list-style-type:none ; 
}
.link-unstyled {
    text-decoration: none;
    color: inherit;
}
.navigation-panel{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}
.input-login-reg {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 150px;
    padding: 10px;
    background-color: #a04f85;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d40cba;
}

.error-message {
    color: red;
    margin-top: 10px;
}
.hidden{
    display: none;
}